<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
		      content="width=device-width, initial-scale=1.0"
		>
		<script type="module" src="/public/assets/js/datastar.js"></script>
		<title>{{ title }} | КультурЛист</title>
		<meta name="description" content="{{ description }}">
		<link rel="stylesheet" href="/public/assets/css/main.css">
	</head>
	<body>
		{% include "layout/header.html" %}
		<main>{% block content %} {% endblock content %}</main>
		{% include "layout/footer.html" %}
	</body>
</html>
